{{ partial "header" . }}
<body>
<section class="section">
  <div class="container">
    <h1 class="title" style="margin-top: 100px">{{ .Title }}</h1>
    <h2 class="subtitle is-5">{{ .Date.Day }} de {{ index $.Site.Data.meses (printf "%d" .Date.Month) }}, {{ .Date.Year }} {{ if (ne ($.Param "displayauthor") false) }}by {{ .Params.author | default .Site.Params.author }}{{ end }}</h2>
    {{ if .Params.tags }}
      {{ partial "tags" .Params.tags }}
    {{ end }}
    <div class="content">
      {{ .Content }}
    </div>
    {{ if (ne ($.Param "sharingicons") false) }}
    {{ partial "sharing.html" . }}
    {{ end }}
  </div>
</section>
{{ partial "disqus" . }}
{{ partial "footer" . }}
</body>
